@import '../../vars';

.login_page {
  display: flex;
  align-items: center;
  flex-direction: column;

  .login_title {
    font-size: 32px;
    color: white;
    margin-bottom: 25px;
  }

  .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .login_input {
      @include input_rounded(200px);
      margin-bottom: 20px;
    }

    .password_input {
      @include input_rounded(200px);
      margin-bottom: 25px;
    }

    .btn_login {
      @include btn_primary();
      font-size: 18px;
      cursor: pointer;

      &:hover {
        background-color: $col_dark_orange;
      }
    }
  }
}

.register_page {

  display: flex;
  align-items: center;
  flex-direction: column;
  .register_title {
    font-size: 32px;
    color: white;
    margin-bottom: 25px;
  }
  .register_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      @include input_rounded(200px);
      margin-bottom: 20px;
    }

    button {
      @include btn_primary();
      font-size: 18px;
      cursor: pointer;

      &:hover {
        background-color: $col_dark_orange;
      }
    }
  }
}