@import '../../vars';
.course_page_wrapper {
  display: flex;
  flex-direction: column;
  .course_page {
    @include bg_user();
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
      @include title1();
      text-align: center;
    }

    section .wrapper.hidden {
      width: 0;
      height: 0;
      visibility: hidden;
      display: none;
    }

    section {
      .section_header {
        display: flex;
        justify-content: center;

        .title {
          @include title1(30px);
          text-align: center;
        }

        .btn_hide_section {
          width: 20px;
          height: 20px;
          margin-top: 15px;

          &.up {
            img {
              transform: rotate(90deg);
            }
          }

          img {
            transform: rotate(-90deg);
            width: inherit;
            height: inherit;
          }
        }
      }
    }

    section.materials {
      margin-top: 10px;
      //background-color: #cdcdcd;
      background-color: #bbbbbb;

      .materials_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;


        .material {
          margin: 10px 0;
          min-height: 65px;
          position: relative;
          width: 90%;
          display: flex;
          flex-direction: column;
          align-content: center;
          background-color: $col_light_grey;
          border: 1px solid black;
          cursor: pointer;

          .material_name {
            @include title1(24px);
          }

          .material_desc {
            color: black;
          }

          &:hover {
            background-color: #d2d2d2;

            &::after {
              position: absolute;
              left: 50%;
              top: 75%;
              transform: translate(-50%, -50%);
              content: "click to visit!";
            }
          }

          &.passed {
            border: 1px solid $col_dark_green;
          }

          border-radius: 10px;
        }

        .material + .material {
          margin-top: 10px;
        }
      }
    }

    section.tasks {
      .tasks_wrapper {
        display: flex;
        flex-direction: column;
        .task {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-top: 2px solid black;
          border-radius: 10px;
          &:last-child {
            border-bottom: 2px solid black;
            margin-bottom: 0;
            padding-bottom: 10px;
          }
          .task_name {
            @include title1(24px);
          }
          .task_desc {

          }
          .task_answer_title {
            margin-top: 25px;
            font-style: italic;

          }
          .task_answer {
            @include input_rounded();
          }
          margin-bottom: 10px;

        }
      }
    }
  }

  .btn_submit_course {
    @include btn_primary_extended(black);
    width: 25%;
    margin: 15px auto;
    font-size: 22px;
    font-weight: bold;
  }
}
