@import '../vars';

.user_page {
  max-width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: space-between;

  .left_side {
    @include bg_user(10px, 15px);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;

    .avatar {
      width: 100px;
      margin-bottom: 10px;
      border-radius: 100px;
    }

    .login {
      position: relative;
      font-size: 22px;

      &:after {
        position: absolute;
        content: "";
        width: 150%;
        height: 2px;
        background-color: $col_gray;
        bottom: -5px;
        left: 0;
        transform: translateX(-15%);
      }

      margin-bottom: 20px;
    }

    .user_data {
      display: flex;
      flex-direction: column;
      align-items: center;

      * + * {
        padding-top: 10px;
      }

      .full_name {
        font-size: 18px;
        font-weight: bold;
      }

      .age {

      }

      .email {

      }

      .phone {

      }
    }
  }

  .right_side {
    width: 75%;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      justify-content: space-between;
      max-height: 300px;

      .materials {
        @include bg_user;
        @include overflow_y;
        height: 300px;
        flex: 0 1 55%;
      }

      .material {
        @include user_section;
      }

      .name {
        @include font_1;
        width: auto;
      }

      .skills {
        @include bg_user;
        @include overflow_y;
        padding: 15px 0;

        //justify-content: center;

        flex: 0 1 42%;

      }

      .skills_wrapper {
        display: flex;
        flex-wrap: wrap;
      }

      .skill {
        position: relative;
        width: 20%;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
        cursor: pointer;

        &:hover {
          .skill_img {
            width: 60px;
            height: 60px;
          }

          .skill_level {
            display: block;
          }
        }
      }

      .skill_img {
        transition: width;
        transition: height;

        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 3px;

      }

      .skill_text {

      }

      .skill_level {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        display: none;
        width: 50px;
        height: 20px;
        background-color: white;
        text-align: center;
        border-radius: 50px;
        border: 2px solid black;

        &::after {
          content: " lvl";
        }
      }

      margin-bottom: 20px;
    }

    .courses {
      @include bg_user;
      @include overflow_y;
      height: 300px;

      .course {
        @include user_section;
      }

      .name {
        @include font_1;
      }
    }

    .passed_courses {
      margin-top: 23px;
      @include bg_user;
      @include overflow_y;
      height: 250px;

      .title {
        @include title1();
        margin-bottom: 0;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
      }

      .cols_names {
        display: flex;
        justify-content: space-between;

        * {
          font-size: 18px;
          padding: 10px 0;
        }

        .first_col {
          margin-left: 100px;
        }

        .second_col {
          margin-right: 100px;
        }
      }

      .courses_wrapper {
        display: flex;
        flex-direction: column;

        .passed_course {
          @include user_section;

          &:nth-child(1) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }

          min-height: 50px;
          font-size: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .course_name {
          margin-left: 100px;
        }

        .course_status {
          margin-right: 100px;
          color: $col_green;
          font-weight: 700;

          &.failed {
            color: $col_dark_red;
          }
        }
      }
    }
  }
}
