@import 'vars.scss';

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  background-color: $col_black;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  font-family: Roboto, serif;
  padding: 0 15px;
}

@import 'pages/Main/main_page';
@import 'pages/user_page';
@import 'header/header';
@import 'pages/Auth/login_and_reg_pages';
@import 'pages/Materials and Courses/materials_and_courses_page';
@import 'pages/Materials and Courses/material_create_page';
@import 'pages/Materials and Courses/course_create_page';
@import 'pages/Materials and Courses/course_page';

