$col_gray: #323232;
$col_red: #e8020e;
$col_dark_red: #bd1829;
$col_light_grey: #e2e2e2;
$col_black: #1f1f1f;
$col_light_black: #c47171;
$col_dark_orange: #f5832e;
$col_darky_orange: #d96e17;
$col_light_orange: #ff7c2a;
$col_green: #33ce2e;
$col_dark_green: #70d56f;

@mixin button_primary($pt,$pr,$col,$bgcol) {
  padding: $pt $pr;
  color: $col;
  background-color: $bgcol;
  border-radius: 15px;
}

@mixin font_1() {
  font-size: 24px;
  position: relative;
  padding: 10px 0;
  text-align: center;
  &:hover {

  }
}

@mixin bg_user($pt: 0, $pr: 0) {
  padding: $pt $pr;
  background-color: $col_light_grey;
  border-radius: 15px;
}

@mixin user_section() {

  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  position: relative;
  background-color: inherit;
  cursor: pointer;
  transition: padding;
  &:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &:hover {
    .name {
      padding: 25px 0;

    }

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      bottom: 0;
      background-color: gray;
    }
  }
}

@mixin overflow_y() {
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin input_rounded($col: $col_dark_red, $width: 150px, $height: 35px) {
  width: $width;
  height: 35px;
  border-radius: 20px;
  padding: 10px 15px;
  transition-property: width, height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  &:not(.focus_disable) {
    &:focus {
      border: 2px solid $col;
      height: 40px;
      width: $width + 20;
    }
  }
}

@mixin btn_primary($pt: 10px, $pr: 15px, $width: 150px) {
  padding: $pt $pr;
  background-color: orange;
  border-radius: 15px;
  color: white;
  width: $width;
}

@mixin btn_primary_extended($col: black) {
  @include btn_primary();
  color: $col;
  &:hover {
    background-color: $col_light_orange;
  }
}

@mixin border_text($col: $col_red) {
  border: 2px solid $col;
  padding: 7px 10px;
  border-radius: 20px;
}

@mixin input_part() {
  .input_desc {
    font-size: 18px;
    //text-indent: 10px;
    //font-style: italic;
  }

  input {
    @include input_rounded();
    margin-top: 10px;

    &.correct {
      @include input_rounded($col_green);
    }
  }

  textarea {
    @include input_rounded();
    margin-top: 10px;
    resize: none;
    min-width: 100%;
    min-height: 200px;

    &.correct {
      @include input_rounded($col_green);
    }
  }
}

@mixin pos_abs() {
  position: absolute;
  content: "";
}

@mixin btn_cross($bg_col: orange) {
  @include pos_abs();
  top: 25px;
  right: 50px ;
  width: 35px;
  height: 35px;
  background-color: orange;
  border-radius: 50px;
  border: 2px solid $col_black;
  transition-property: width,height, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  &:hover {
    width: 45px;
    height: 45px;
  }

  &::before {
    @include line_rounded(45deg)
  }
  &::after {
    @include line_rounded(-45deg)
  }

}
@mixin line_rounded($rotate_deg: 45deg,$bg_col: $col_black) {
  position: absolute;
  content: "";
  height: 5px;
  width: 25px;
  border-radius: 25px;
  background-color: $col_black;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate($rotate_deg);
}

@mixin title1($fz: 36px)  {
  position: relative;
  margin: 10px 0;
  font-size: $fz;
  text-align: center;
  text-transform: capitalize;
}

@mixin orange_borders() {
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  border-radius: 50px;
}